.section_pic_cont{
    overflow: hidden;
    position: absolute;
    left: -6px;
    top: -6px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--ligth-black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono{
    fill: var(--ligth-black);
    color: var(--ligth-white);
}
.about_details{
    justify-content: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
.details_container{
    padding: 1.5rem;
    background-color: transparent;
    border-radius: 2rem;
    border: var(--ligth-black) 0.1rem solid;
    border-color: var(--ligth-black);
    text-align: center;
    align-items: center;
    display: grid;
    max-width: 400px;
    grid-template-rows: auto 1fr auto;
    flex-wrap: wrap;
    overflow: hidden;
}

.details_container_skills{
    padding: 1.5rem;
    background-color: transparent;
    border-radius: 2rem;
    border: var(--ligth-black) 0.1rem solid;
    border-color: var(--ligth-black);
    text-align: center;
    align-items: center;
    display: grid;
    max-width: 800px;
    grid-template-rows: auto 1fr auto;
    flex-wrap: wrap;
    overflow: hidden;
}
.details_container_about{
    position: relative;
    padding: 1.5rem;
    background-color: transparent;
    border-radius: 2rem;
    border: var(--ligth-black) 0.1rem solid;
    border-color: var(--ligth-black);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 200px;
    max-width: 200px;
    max-height: 200px;
    height: 200px;
}
.btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.article_exp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.article_exp > img{
    width: 50px;
    height: 100px;
    transition: transform 0.3s ease;
}
.article_exp > img:hover{
    transform: scale(1.5);
}
.color-container{
    margin-top: 10rem;
    margin-bottom: 10rem;
    justify-content: center;
    display: flex;
    max-width: 92%;
    margin-left: 4rem;
    margin-right: 4rem;
}
 .contact{
    margin-top: 2rem;
    margin-bottom: 10rem;
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
 }
.container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
} 


.nav_contact{
    margin-top: 5rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    text-align: center;
}
span{
    margin-right: 7rem;
}
.links{
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

/*Project card*/

.project-img {
  width: 100%;
  height: auto;
  transition: transform 0.9s ease;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.6s ease;
  z-index: 1;
}

.article-container:hover .project-img {
  transform: scale(0.9);
}

.article-container:hover .menu {
  opacity: 1;
}

/*ButtonDescription*/

.btn-description{
    background-color: #ffffff;
    border: 0.125em solid black;
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}
