.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  
  .button {
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--ligth-black--);
  }
  

  .a:hover, .button:hover {
    transform: rotate(45deg);
  }

  .button:hover {
    transform: rotate(360deg);
    transform-origin: center center;
    color: var(--ligth-gray--);
  }
  

  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-svg{
    fill: black;
    color: black;
    stroke: black;
  }
  
  .dark .btn-svg{
    fill: white;
    color: white;
    stroke: white;
  }