@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --ligth-gray: rgb(85, 85, 85);
    --ligth-black : black;
    --ligth-white: white;
    --ligth-gray--: rgb(181, 181, 181) ;
    --ligth-black--: #1A1A1A;
    --ligt-border:rgb(53, 53, 53);
    --font-ligth: rgb(104, 104, 104);
    --font-black: rgb(32, 32, 32);

    --font-color-dark: #323232;
    --font-color-light: #fff;
    --bg-color: #fff;
    --main-color: #323232;
    --secondary-color: #505050;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html, body{
    cursor: url('./svg/cursorWhite.svg'), pointer;
    scroll-behavior: smooth;
    /* transition: background-color 0.9s ease, color 0.9s ease; */
}
.dark html, body {
    cursor: url('./svg/cursorOrange.svg'), pointer;
  }

*::selection{
    background-color: var( --font-ligth) !important;
}


html::-webkit-scrollbar{
    width: 5px;
    background: var(--ligth-white);
}
html::-webkit-scrollbar-thumb{
    background-color: var(--ligth-gray);
    border-radius: 30px;
}
body {
    font-family: "Poppins", sans-serif;
}
p{
    color: var(--ligth-gray);
}
.dark a,
.dark .wrapper,
.dark .option,
.dark .a,
.dark .button,
.dark .btn,
.dark button,
.dark span,
.dark input,
.dark svg,
.dark g,
.dark path{
    cursor: url('./svg/cursorOrangePointer.svg')30 10, default;
}

a,
.arrows,
.wrapper,
.option,
.a,
.button,
.btn, 
button,
span, 
input,
svg,
g,
path{
    cursor: url('./svg/cursorWhitePointer.svg')30 10, default;
    transition: all 300ms ease;
    text-decoration: none;
}



nav, .nav-links{
    display: flex;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7rem;
    width: 100%;
    transition: background-color 0.9s ease, color 0.9s ease;
    z-index: 1000
}
.nav-links{
    gap: 2rem;
    font-size: 1.5rem;
}
span{
    font-size: 1.2rem;
    z-index: 90;
}

a{
    color: var(--ligth-black);
    text-decoration-color: var(--ligth-white)
}
a:hover{
    color: var(--ligth-gray);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--ligth-gray--) ;
}
.text_p_About{
    font-family: "Zilla Slab", sans-serif;
    font-weight: 600;
}
/*Hamburger menu*/

.hamburger-menu {
  position: relative;
  width: 26px;
  height: 26px;
}
.hamburger-nav{
    display: none;
}

/*Section*/
#profile{
    padding-top: 6vh;
    margin-bottom: 20rem;
    box-sizing: border-box;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    height: 80vh;
    display: flex;

}
.section_pic{
    display: flex;
    /* height: 4000px; */
}
img{
    border-radius: 14% 86% 56% 44% / 30% 30% 70% 70%  ;
    width: 330px;
    height: 380px;
    margin: 0 auto;
    position: relative;
}
.back-pic{
    position: absolute;
    width: 331px;
    height: 400px;
    background-color: var(--ligth-gray--);
    border-radius: 87% 47% 81% 31% / 60% 35% 100% 69%  ;
    z-index: -1;
}
.section_text{
    align-self: center;
    text-align: center;
}
.section_text_p{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 2px;
}
.section_text_p2{
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2px;
}
.title{
    font-size: 2.6rem;
    text-align: center;
}
.social_link{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}
.button {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_container{
    display: flex;
    gap: 2rem;
    bottom: 0;
    margin-top: 2rem;
}
.btn-svg{
    display: block;
}
/*About*/
.about{
    padding-top: 1vh;
    margin: 0 12rem;
    box-sizing: border-box;
    min-height: fit-content;
    gap: 3rem;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    display: flex;
}
.about_container{
    margin-bottom: 2rem;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.section_container{
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.text_content{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}
.card-junior {
    padding-top: 6rem;
    margin-bottom: 10rem;
  }
/*Experience*/
.experience_details_container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: start; 
}


.about_details {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: auto; 
    height: auto; 
    justify-content: center; 
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* .details-containers {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    gap: 1rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    border-radius: 2rem;
} */

.article-container {
    display: flex;
    flex-direction: space-around;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    flex-wrap: wrap;
    transition: transform 0.3s ease;
}

.experience_sub_title{
    color: var(--ligth-gray);
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.experience{
    margin-bottom: 15rem;
}
.projects{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.container_project{
    display: flex;
    gap: 5rem;
    justify-content: center;
    flex-wrap: wrap;
}
.themeChange{
    display: block;
    overflow: visible;
    z-index: 300;
}
/* Animación de opacidad */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  /* Animación de rotación */
  @keyframes rotateIn {
    from { transform: rotate(-90deg); }
    to { transform: rotate(0deg); }
  }
  @keyframes rotateOut {
    from { transform: rotate(0deg); }
    to { transform: rotate(90deg); }
  }
  .icon {
    position: absolute;
    transition: opacity 0.5s, transform 0.5s;
  }
  .hide {
    animation: fadeOut 0.5s forwards, rotateOut 0.5s forwards;
  }
  .show {
    animation: fadeIn 0.5s forwards, rotateIn 0.5s forwards;
  }
/*Animacion bounce*/

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-8px);
    }
    60% {
      transform: translateY(-4px);
    }
  }
  
  .bouncy-text {
    display: inline-block;
    animation: bounce 2s infinite;
  }

@media screen and (max-width: 700px){
    .language{
        display: flex;
    }
    #profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 21rem;
        margin-bottom: 50rem;
    }
    .section_pic{
        margin: 0 auto;
    }
    .btn_container{
        margin-top: 3rem;
    }
    .social_link{
        margin-top: 2rem;
        margin-bottom: 20rem;
    }
    .section_container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .card-junior{
        text-align: center;
        padding: 0;
        margin-bottom: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
    }
    .about{
        text-align: center;
        flex-direction: column;
        margin-bottom: 50rem;
        display: flex;
        justify-self: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30rem;
    }
    .about_container{
        display: block;
    }
    .color-container{
        margin: 0 auto;
        align-items: center;
    }
    .text_content{
        margin-top: 6rem ;
        margin-bottom: 10rem;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        flex-wrap: wrap;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 4rem;
    }
    span{
        margin: 0 auto;
    }
    .footer{
        margin-top: 12rem;
    }
    .projects{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        gap: 2rem;
    }
    .experience{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .contact{
        margin-top: 10rem;
    }
    .themeChange{
        display: block;
        overflow: visible;
        z-index: 300;
    }
}

@media screen and (max-width: 1200px){
    #profile{
        margin-bottom: 40rem;
    }
    .desktop-nav{
        display: none;
    }
    .hamburger-nav{
        display: flex;
    }
    .hamburger-menu{
        z-index: 60;
    }
    .logo{
        display: flex;
    }
    .nav-links-hamburger {
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        position: fixed;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        transition-property: all;
        transition-duration: 500ms;
        z-index: 50;
        background-color: var(--ligth-white);
    }
    .about{
        margin-bottom: 30rem;
    }
    .card-junior{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about_details{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .text_content{
        margin-top: 4rem;
    }
}
