@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'San Francisco';
    src: url(../../assets/font/SanFrancisco/SF-Pro-Display-ThinItalic.otf);
    font-weight: bold !important;
    font-style: bold;
}
@font-face {
    font-family: 'San FranciscoTitle';
    src: url(../../assets/font/SanFrancisco/SF-Pro-Display-Bold.otf);
    font-weight: bold !important;
    font-style: bold;
}
html, body {
    background-color: #1A1A1A ;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
  }
.dark html,
.dark body{
background-color: #fff;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
    transition: all 0.3s ease;
}
:root{
    --ligth-gray: #545454;
    --ligth-black : black;
    --ligth-white: white;
    --ligth-gray--: #b5b5b5 ;
    --ligth-black--: #1A1A1A;
    --ligt-border:rgb(53, 53, 53);
    --font-ligth: #686868;
    --font-black: #202020;

    --font-color-dark: #323232;
    --font-color-light: #fff;
    --bg-color: #fff;
    --main-color: #323232;
    --secondary-color: #505050;

    --orange-color: #F59E0B;

    --font-title: 'Gravitas One', cursive;
    --font-text: 'Poppins', sans-serif;
    --font-subtitle: 'Zilla Slab', serif;

    --shadow: 0px 0px 6px 0px var(--orange-color);
    /*********************************
    * !BLANCO Y AZUL PARA EL "DARK" *
    *********************************/
    --whithe-dark: #F5F5F7 
    --white-pure: #FFFFFF
    --blue-dark: #007AFF
    --gray-ligth: #D1D1D6;
    --gray-dark: #636366;
}
*::selection{
    background-color: var( --orange-color) !important;
}
.dark *::selection{
    background-color: #007AFF !important;
}
span::selection{
    color: #007AFF;
}
p::selection{
    color: #202020;
}

.dark span::selection{
    color: var(--orange-color);
}
.dark span.active{
    color: var(--orange-color);
}

.dark{
    --shadow: 0px 0px 5px 0px rgba(0, 122, 255, 0.7);
    transition: all 0.8s ease-in-out;
}
.dark svg {
    color: #007AFF;
}
main{
    width: 100%;
    height: 100%;
}
/* section{
    background: radial-gradient(at center top, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
} */
*::-webkit-scrollbar{
    width: 8px;
    background-color: var(--font-ligth);
}
.dark *::-webkit-scrollbar{
    background-color: var(--gray-dark);
}
*::-webkit-scrollbar-thumb{
    background-color: var(--orange-color);
    border-radius: 20px;
}
.dark *::-webkit-scrollbar-thumb{
    background-color: #007AFF !important;
}
.title {
    font-family: 'San FranciscoTitle';
    text-align: center;
    color: var(--orange-color);
}
.dark .title{
    color: #007AFF;
}
.dark .title::selection{
    color: #1A1A1A !important;
}
.title::selection{
    color: var(--font-color-dark) !important;
}
.text-secondary{
    font-family: 'San Francisco';
    color: var(--ligth-gray--);
    /* text-align: center; */
    font-size: 15px;
}
.dark .text-secondary{
    color: var(--font-black);
}
.text-secondary::selection{
    color: #1A1A1A !important;
}
.text-subtitle{
    font-size: 12px;
    font-family: var(--font-subtitle);
    /* text-align: center; */
    color: var(--ligth-gray--);
}
.dark .text-subtitle{
    color: var(--font-black);
}
button{
    cursor: pointer;
}
.timeline-button:hover,
button:hover{
    transform: scale(1.1);
    box-shadow: var(--shadow);
    background-color: var(--ligth-gray--);
}
.dark button:hover{
    background-color: var(--ligth-gray--);
}
    /***********
    * !LAYOUT *
    ***********/
.sidebar {
    width: 400px;
    background-color: var(--ligth-black--);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
    left: 0;
    padding-top: 50px;
    border-right: 1px solid var(--font-ligth);
}
.dark .sidebar{
    background-color: var(--gray-dark--);
    border-right: 1px solid var(--font-black);
}
.profile{
    background-color: #F59E0B;
    border-radius: 67% 33% 47% 53% / 34% 32% 68% 66%   ;
    width: 90%;
    height: 300px;
    overflow: hidden;
    animation: morphBorder 12s ease-in-out infinite;
}
.dark .profile{
    background-color: #007AFF;
}
.profile img {
    width: 100%;
    height: 150%;
    object-fit: cover;
}
.profile-text{
    margin-top: 1em;
    text-align: center;
    z-index: 300;
}
.profile-text>h1{
    font-size: calc(1em + 1vw);
}
.profile-text>p{
    font-size: calc(0.5em + 0.5vw);

}
.flip-text {
    display: inline-block;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
  }
  
  .flipping {
    transform: rotateY(180deg);
  }
  .email-display{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.contact-info{
    margin-top: 2em;
}
.contact-info>h3{
    font-size: calc(0.5em + 1vw);
}
.contact-text{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}
.location{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
.location>a{
    width: 25px;
    height: 25px;
}
.location>a>img{
    width: 25px;
    height: 25px;
}
.location>a:hover{
    transform: scale(1.1);
}
.social-links{
    margin-top: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 3em;
}

.icon-btn{
    fill: var(--orange-color);
    padding: 5px;
    border-radius: 20px;
    border:none;
    background-color: transparent;
}
.dark .icon-btn{
    fill: #007AFF;
}

a{
    text-decoration: none;
}
.social-button:hover{
    background-color: var(--ligth-gray--);
    transform: scale(1.1);
    border-radius: 20px;
}

.download-contain{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 1em;
    text-decoration: none;
}
.download-contain>button:hover{
    background-color: var(--ligth-gray--);
}
.download{
    font-family: var(--font-text);
    text-decoration: none;
    width: 100px;
    height: 40px;
    display: flex;
    
}
.animate-bounce{
    animation: bounce 2s infinite;
    width: 30px;
    height: 30px;
}
.download-contain>button{
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    gap: 10px;
    
    border: 1px solid var(--orange-color);
}
.download-contain>button>span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark .download-contain>button{
        background-color: var(--whithe-dark);
        border: 1px solid #007AFF;
        color: #007AFF;
}
.dark .download-contain>button:hover{
    background-color: var(--ligth-gray--);
}
.toggles-buttons{
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
.theme-toggle{
    display: flex;
    width: 80%;
    max-height: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.toggle-icon{
    max-width: 30px;
    max-height: 30px;
    /* background: #007AFF; */
}
.layout{
    display: flex;
    width: calc(100% - 400px);
    left: 400px;
    position: relative;
    /* background-color: #505050; */
    height: 100vh;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
}
    /***********
    * !NAVBAR *
    ***********/
    .navbar{
        width: 100%;
        z-index: 8754;
        top: 0px;
    }
    nav{
    border-bottom: 1px solid var(--font-ligth);
    position: sticky;
    height: 60px;
    top: 0;
    width: 100%; 
    padding: 1rem;
    background-color: var(--ligth-black--);
    display: flex;
}
.dark nav{
    background-color: var(--gray-dark);
    border-bottom: 1px solid var(--font-black);
}
.button-explorer{
    display: flex;
    gap: 5px;
    height: 100%;
    align-items: center;
    width: 40px;
    
}
.circle{
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.icons{
    margin-left: 3em;
    display: flex;
    gap: 5px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.icon{
    color: #F59E0B;
}
.dark .icon{
    color: #007AFF;
}
.icon:hover{
    background-color: var(--ligth-gray);
    border-radius: 5px;
}
.rotate{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 10px;
    width: 30px;
    cursor: pointer;
}

.rotate:hover{
    background-color: var(--ligth-gray);
}
.explorer{
    display: flex;
    align-items: center;
    margin-left: 1em;
    background-color: var(--ligth-gray);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 4px 10px;
    cursor: text;
}
.explorer-text{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    color: var(--orange-color);
}
.explorer-input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
  }
  .explorer-input:focus {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
  }
.dark .explorer-text{
    color: #007AFF;
}
.explorer-tex>p{
    text-transform: capitalize;
    text-transform: lowercase;
}
.windows-bar{
    display: flex;
    gap: 3px;
    background-color: var(--font-color-dark);
    width: 100%;
    height: 50px;
    padding: 5px  5px 0px 5px;
    border-bottom: 1px solid var(--font-ligth);
    z-index: 3300;
    top: 60px;
    position: absolute;
}
.dark .windows-bar{
    background-color: #999999;
    border-bottom: 1px solid var(--font-black);
}
.windows{

    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;
    width: 180px;
    max-width: 180px;
    background-color: #1A1A1A;
    border-radius: 10px 10px 0px 0px;

}
.windows:hover{
    background-color: var(--ligth-gray);
}
.windows.active {
    background-color: var(--ligth-gray);
}
.windows-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: var(--orange-color);
    cursor:grab ;
}
.dark .windows-content{
    color: #007AFF;
}
.windows-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
    /***************
    * !LAYOUTPAGE *
    ***************/
.layout-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse 190% 90% at center bottom, #F59E0B 12%, #1A1A1A 30%, rgb(0, 0, 0) 80%);
    animation: latido 4.0s ease-in-out infinite;
    /* margin-left: 400px;
    width: calc(100% - 400px);  */
    overflow-y: auto;
    position: absolute;
    z-index: 1;
}
.dark .layout-page{
        background: radial-gradient(ellipse 190% 90% at center bottom, #007AFF 12%, #F5F5F7 30%, white 80%);
}
.layout-main{
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    height: auto;
    padding: 50px;
}
.section-title{
    top: 0;
    margin-top: auto;
    font-size: 40px;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: absolute; */
}

.footer-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footer-title>img{
    width: 30px;
    height: 30px;
}
footer{
    /* background-color: #545454; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
    bottom: 0;
    position: absolute;
    z-index: 10;
}
footer>p{
    font-size: 10px;
    color: var(--font-black);
}
/* .dark footer>p{
    color: #007AFF;
} */
.line{
    width: 40px;
    height: 1px;
    background-color: var(--font-ligth);
}
.line-footer{
    width: 40%;
    height: 1px;
    background-color: var(--font-ligth);
}
.footer-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-center>img{
    display: flex;
    width: 31px;
    height: 40px;
}
/**********************
 * !MOVIMIENTO LATIDO *
 **********************/
 @keyframes latido {
    0%, 100% {
        background-size: 100% 100%;
    }
    50% {
        background-size: 105% 105%;
    }
}
    /**********
    * !ABOUT *
    **********/
.about{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-about{
    width: 90%;
    height: 80%;
    display: flex;
    gap: 3em;
    justify-content: space-between;
    align-items: center;
    /* background-color: #686868; */
}
.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F59E0B;
    border-radius: 67% 33% 47% 53% / 34% 32% 68% 66%   ;
    overflow: hidden;
    min-width: 250px;
    width: 400px;
    height: 400px;
    padding-top: 80px ;
    min-height: 250px;
    animation: morphBorder 12s ease-in-out infinite;
}
 .dark .picture{
    background-color: #007AFF;
}
@keyframes morphBorder {
    0% {
      border-radius: 67% 33% 47% 53% / 34% 32% 68% 66%;
    }
    25% {
      border-radius: 60% 40% 60% 40% / 40% 60% 40% 60%;
    }
    50% {
      border-radius: 50% 50% 60% 40% / 60% 40% 50% 50%;
    }
    75% {
      border-radius: 40% 60% 50% 50% / 50% 50% 40% 60%;
    }
    100% {
      border-radius: 67% 33% 47% 53% / 34% 32% 68% 66%;
    }
  }
/* .picture>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.profile-img{
    width: 100%;
    height: 150%;
    object-fit: cover;
}
.text-main-about{
    width: 60%;
    display: flex;
    /* background-color: aqua; */
    flex-direction: column;
    align-items: start;
    text-align: left;
    justify-content: start;
}
.text-main{
    font-size: 20px;
}
.text-main-about>p>span{
    color: var(--orange-color);
}
.dark .text-main-about>p>span{
    color: #007AFF;
}

    /***************
    * !EXPERIENCE *
    ***************/
    .experience{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
    }
.timeline-container{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* overflow: hidden; */
    margin-bottom: 2em;
}
.timeline-contain{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    width: 90%;
    height: 90%;
}
.timeline-button-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.timeline-button>svg{
    object-fit: contain;
}
    /***************
    * !PROJECTS *
    ***************/
 .project{
    width: 100%;
    /* overflow-y: auto; */
    /* overflow: auto; */

    max-height: 100vh;
    /* min-height: 100vh; */
}
.project-slider-container{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/************
 * ~GLIDDER *
 ************/
.glider-content{
 width: 100px;
 height: 100px;
}
.title-chose{
    font-family: 'San FranciscoTitle';
    text-align: center;
    color: var(--orange-color);
    font-size: 50px;
}
.dark .title-chose{
    color: #007AFF;
}
.project-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    height: auto;
    margin-top: 1em;
    margin-bottom: auto;
    padding-bottom: auto;
    flex-direction: column;
}
.glider-container{
    width: 100%;
    height: 100%;
    margin-top: 1em;
    margin-bottom:3em ;
}
.project-contain>img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.project-contain>h1{
    font-size: 40px;
}
.contain-details-project{
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 20px;
    width: 100%;
}
.selected-project{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.details-text{
    display: flex;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 2em;
}
.tech{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.tech-badge{
    font-family: var(--font-text);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
    background-color: #6868681f;
    width: fit-content;
    max-width: 220px;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    border: 1px solid var(--orange-color);
    color: #F59E0B;
}
.dark .tech-badge{
    border: 1px solid #007AFF;
    background-color: var(--ligth-gray--);
    color: var(--whithe-dark);
    color: #007AFF;
}
.details-text{
    background-color: #6868681f;
    border-radius: 20px;
    padding: 20px;
}
.details-text>h3{
    align-items: center;
    color: var(--orange-color);
    font-size: 40px;
}

.dark .details-text>h3{
    color: #007AFF;
}
.description{
    display: flex;
    text-align: start;
    margin-top: 1em;
    color: var(--ligth-gray--);
}

.dark .description{
    color: var(--ligth-gray);
}
.pass{
    width: 90%;
    height: 1px;
    background-color: var(--font-ligth);
    margin: 0 auto;
}
.buttons-detail{
    width: 90%;
    height: auto;
    margin:0 auto;
    display: flex;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.buttons-detail>button{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
    background-color: var(--ligth-gray);
    width: fit-content;
    max-width: 100px;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    border: 1px solid var(--orange-color);
    font-family: var(--font-text);
}
.buttons-detail>button>a{
    color: var(--orange-color);
}
.dark .buttons-detail>button>a{
    color: #007AFF;
}

.dark .buttons-detail>button{
    border: 1px solid #007AFF;
    background-color: var(--ligth-gray--);
}
.buttons-detail>button:hover{
    transform: scale(1.1);
    background-color: var( --ligth-gray--);
}
.dark .buttons-detail>button:hover{
    background-color: var(--whithe-dark);
}
.front-page-contain{
    flex-direction: column;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 1em;
    overflow: hidden;
    gap: 10px;
    margin-bottom: 9em;
    position: relative;
}
.image-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

    /**************
    * !Skills *
    **************/
    .skills{
        width: 100%;
        height: 94vh;
        overflow: hidden;
    }
    .main-skills{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        margin-bottom: 2em;
    }

/********
 * !PDF *
 ********/
 .pdf-section{
    width: 100%;
    height: auto;
}
.pdf-viewer-container{
    height: 100%;
}
.pdf-viewer-wrapper{
    margin-bottom: 12em;
    z-index: 1;
}

.pdf-viewer-wrapper>h1{
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 30px;
    z-index: 100;
}

.pdf-viewer{
    z-index: 1;
    height: 70vh;
 }


/**************
 * !EDUCATION *
 **************/
.education{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    padding-left: 20px;
}
.education-timeline-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.education-container{

    padding: 50px;
    width: 80%;
    height: 80%;
    overflow-y: auto;
}
/************
 * !NOTFOUN *
 ************/
 .not-found{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar-mobile{
    display: none;
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
    .main-about{
        width: 100%;
    }
    .picture>img{
        width: 100%;
        object-fit: cover;
    }
    .sidebar{
        width: 300px;
    }
    .layout{
        width: 100%;
        min-height: 100vh;
        left: 300px;
    }
    .layout-main{
        width: calc(100% - 200px);
        padding: 0px;
        margin: 0;
    }
    .main-about{
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .layout-page{
        width: calc(100% - 300px);
    }
    footer{
        width: calc(100% - 300px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1300px) {
    .sidebar{
        display: none;
    }
    .navbar{
        display: none;
    }
    .layout-main{
        width: 100%;
        height: 100vh;
        margin: 0;
        margin-top: 2em;
    }
    .layout-page{
        width: 100%;
        margin: 0;
    }
    .layout{
        width: 100%;
        min-height: 100vh;
        margin: 0;
        left: 0;
    }
}
@media screen and (max-width: 1300px) {
    .window-grid-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(34, 34, 34, 0.938);
        display: flex;
        flex-direction: column;
        z-index: 1;
      }
      
      .window-grid-header {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #505050;
        margin: 0;
        width: 100%;
      }
      .container-mobile-tabs{
        padding: 30px;
      }
      .text-windows-mobile{
        display: flex;
        justify-content: space-between;
        padding: 20px;
      }
      .text-windows-mobile>h1{
        color: white;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
      }
      .text-windows-mobile>p{
        color: blue;
        text-decoration: underline;
        cursor: pointer;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: end;
      }
      .explorer-text{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .window-wrapper{
        /* width: 100%; */
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        display: flex;
      }
      .window-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        padding: 10px;
        padding-left: 6%;
        overflow-y: auto;
        max-width: 100%;
      }
      .window-grid-item {
        background: #1e1e1e;
        border-radius: 10px;
        padding: 1rem;
        text-align: center;
        color: white;
        cursor: pointer;
        transition: transform 0.3s;
        /* max-width: 200px; */
        width: 30%;
      }
      
      .window-grid-item:hover {
        transform: scale(1.05);
      }
      
      .grid-circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0 auto 0.5rem auto;
      }
      
      .grid-text {
        font-size: 0.9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    
    nav, .windows-bar{
        display: none;
    }
    .navbar-mobile{
        display: flex;
        background-color: #202020;
        width: 100%;
        height: auto;
        margin-top: auto;
        bottom: 0;
        position: fixed;
        padding: 5px;
        z-index: 2324324;
    }
    .icons-nav-mobile{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0;
        z-index: 2324324;
    }
    .icon-mobile{
        display: flex;
        justify-content: space-around;
        width: 25px;
        height: 25px;
        padding: 1px;
        z-index: 2324324;
    }
    .layers{
        cursor: pointer;
    }
    .share{
        width: 30px;
        height: 30px;
        z-index: 1324;
        cursor: pointer;
    }
    .icons-mobile{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        gap: 5px;
    }
    .buttons-social-mobile{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        gap: 20px;
    }
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        padding-top: 10em;
        margin-bottom: 6em;
    }
    .main-about{
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100vh;
        width: 100%;
    }
    .text-main-about{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 3em;
    }
    .text-main{
        font-size: 20px;
        text-align: center;
    }
    footer{
        display: flex;
        margin-bottom: 3em;
    }
    .footer-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
/***************
 * !EXOERIENCE *
 ***************/
 .layout{
    width: 100%;
    height: 100vh;
 }
 .layout-page{
    width: 100%;
    height: 100vh;
 }
 .experience{
    overflow-y: auto;
    width: 100%;
 }
 .timeline-container{
     width: 100%;
     height: 100vh;
     overflow-y: auto;
     margin-bottom: 2em;
}
    .timeline-contain{
    display: block;
    width: 100%;
    padding: 20px;
 }
/*************
 * !PROJECTS *
 *************/
.project{
    width: 100%;
    height: auto;
    padding-top: 100px;
}
.projects-contain{
    overflow-y: auto;
    display: flex;
    width: 100%;
    height: auto;
}
.project-slider-container{
    width: 100%;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contain-details-project{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}
.project-contain{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.details-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/***********
 * !SKILLS *
 ***********/
 .skills{
    width: 100%;
    height: 100vh;
 }
 .main-skills{
    width: 100%;
    height: auto;
 }
 .skills{
    overflow-y: auto;
    width: 100%;
    margin-bottom: 3em;
 }
/**************
 * !EDUCATION *
 **************/
.education{
    width: 100%;
    height: 100vh;
 }
 .main-education{
    width: 100%;
    height: auto;
 }
 .education{
    overflow-y: auto;
    width: 100%;
    margin-bottom: 3em;
 }
 .education-container{
    padding: 0px;
    width: 100%;
 }
 .education-timeline-container{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    margin-bottom: 2em;
 }
 .education-timeline-contain{
    display: block;
    width: 100%;
    padding: 20px;
 }
}
@media (min-width: 500px) and (max-width: 800px) { 
    .main-about{

    }
    .layout-main{
        /* padding-top: 10em; */
    }
    .layout-page{

    }
    .about{
        margin-top: 30em;
        margin-bottom: 25em;
    }

}
@media  screen and (max-width: 500px) {
    body{
        min-height: 100vh;
    }
    .section-title{
        margin-top: 0em;
    }
    .layout-main{
        padding: 0px;
        width: 100%;
        margin: 0%;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        height: 100vh;
        min-height: 100vh;
        flex: 1;
    }
    .layout-page{
        min-height: 100vh;
        padding: 0px;
        height: auto;
        width: 100%;
        overflow-y: auto;
        min-height: auto;
    }
    .layout{
        overflow-y: auto;
        height: auto;
        width: 100%;
        min-height: 100vh;
    }
    .main-about{
        width: 100%;
        overflow-y: hidden;
        padding: 0px;
        height: auto;
        min-height: 100vh;
    }
    .about{
        padding-top: 0;
        width: 100%;
        height: auto;
        position: relative;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
    }
    .picture{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .picture>img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .project{
        padding-top: 0;
        height: 100vh;
        width: 100%;
        overflow-y: auto;
    }
    .chose{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .chose>h1{
        font-size: 40px;
    }
    .chose>img{
        width: 80px;
        height: 80px;
        display: flex;
    }
    .skills{
        margin-top: 0;
        width: 100%;
        height: auto;
        padding: 0;
    }
    .main-skills{
        width: 100%;
        height: auto;
        overflow: visible;
    }
    .skills-timeline-item{
        width: 100%;
        height: 100vh;
        overflow: visible;
    }
    .roadmap-container{
        width: 100%;
        height: 100vh;
        overflow: visible;
    }
    .education{
        margin-top: 0;
        width: 100%;
        height: auto;
    }
    .education-container{
        width: 100%;
        height: auto;
        overflow: visible;
    }
    .main-education{
        width: 100%;
        height: auto;
        overflow: visible;
    }
    .education-timeline-container{
        width: 100%;
        height: auto;
        overflow: visible;
    }
    .window-grid{
        width: 100%;
        padding-left: 0;
    }
    .timeline-container{
        width: 100%;
        height: 140vh;
        overflow-y: hidden;
    }
    .project-slider-container{
        margin-bottom: 0%;
        height: auto;
    }
    .contain-details-project{
        width: 100%;
        height: auto;
    }
    .project-contain{
        width: 100%;
        height: auto;
        padding: 10px;
        margin-bottom: 3em;
    }
    .lock-screen{
        background: url('https://4kwallpapers.com/images/wallpapers/macos-monterey-wwdc-21-stock-5k-5120x2880-5584.jpg');
        width: 100%;
        height: 400vh;
        overflow-y: hidden;
        padding: 0px;
        margin: 0px;
    }
    .toggle-mobile{
        margin-top: 5em;
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        left: 0;
        bottom: 0;
        margin-top: auto;
        position: absolute;
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 0px;
        display: none;	
    }
    .footer-center{
        flex-direction: column;
        align-items: center;
        display: flex;
        width: 100%;
        justify-content: center
    }
    .line-footer{
        width: 100%;
    }
}
@media  screen and (max-width: 400px) {
    .about{
        width: 100%;
        height: auto;
    }
    .section-title{

    }
    .layout-main{
        overflow: hidden;
        height: auto;
    }
    .layout-page{
        height: auto;
        overflow: hidden;
    }
    .main-about{
        width: 100%;
        overflow-y: hidden;
        height: auto;
    }
    .about{
        padding-top: 0;
        width: 100%;
        height: auto;
        position: relative;
        overflow-y: hidden;
    }
    .picture>img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .project{
        padding-top: 0;
        height: auto;
        width: 100%;
        overflow-y: auto;
    }
    .chose{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .chose>h1{
        font-size: 30px;
    }
    .chose>img{
        width: 80px;
        height: 80px;
        display: flex;
    }
}
@media  screen and (max-width: 1300px) and (min-width:1200px) {
    footer{
        width: 100%;
    }
    .timeline-contain{
        width: 90%;
    }
    .chose{
        margin-top: 0%;
    }
    .project-slider-container{
        height: 350px;
    }
}
/***************************
 * EL QUE LO CAMBIA ES GEI *
 ***************************/